h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #4d6e6c;
}

h1 {
  font-size: 43px;
  text-transform: uppercase;
  font-style: inherit;
  font-family: "Times New Roman", Times, serif;
  -webkit-text-fill-color: rgb(23, 43, 42);
  text-align: center;
  color: rgba(35, 106, 128, 0);
  text-decoration-line: underline;
}

h2,
h3,
h4 {
  color: rgb(65, 139, 129);
}
h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  text-decoration-line: underline;
}
p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

footer p {
  font-size: 16px;
}

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}

.main {
  background-color: black;
}

aside {
  background-color: #6863630c;
  border-top: 5px solid rgba(10, 10, 10, 0.274);
  border-bottom: 5px solid rgba(10, 10, 10, 0.274);
}

body {
  background-color: rgba(223, 245, 216, 0.096);
}
